
body{
    background-color: black; color: white;
    
}

*{
    padding: 0px;
    margin: 0px;
}

h1 {
    font-family: 'blackvalentine'; color: darkred ;
}

#menu{
    margin: auto;
    width: 50px;
  position: relative;
  right: 625px;
}

ul, ol {
    list-style: none;
}

.prin li a {
 background-color: darkred; color: white;
  text-decoration: none;
  display: block;
  padding: 20px 20px;
}
.prin li a:hover{
    background-color: red;
}
.prin li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.prin li:hover > ul {
    display: block;
}

.prin li ul li {
    position: relative;
}
.prin li ul li ul {
    right: -140px;
    top: 0px;
}

#historiadelasarmas {
    background-color: black; color: white;
}

#tes {
    display: block;
    position: relative;
    right: -50px;
}

#pisto {
    background-color:gray; color: white;
}
#Esco {
    background-color:saddlebrown; color: white;
}
#rif {
    background-color:lightslategrey ;color: white;
}