body {
    background-color: black;
    color: white;
    font-family: 'Metal Mania', system-ui;
    text-align: center;
}
.container {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}
.product {
    border: 2px solid darkred;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
    background-color: #220000;
}
.product img {
    max-width: 200px;
}
#pro {
    background-color: darkred;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
}
#pro:hover {
    background-color: red;
    transform: scale(1.05);
}

#cb {
   
    background-color: red;
    color: white;
    border: 4px solid darkred;
    padding: 10px;
    border-radius: 5px;
    display: block;
    width: 30px; 
    height: 30px;
    border-radius: 50%;
    position: relative;
    right: -1200px;
}
#carrito {
    position: relative;
    right: 5px;
    top : -2px;
}
#cb:hover {
    background-color: darkred;
    transform: scale(1.05);
}
#decan {
    position: relative;
    right: -525px;
    top: -50px;
}

#menu {
    padding: 0px;
    margin: 0px;
}

#menu{
    margin: auto;
    width: 50px;
  position: relative;
  right: 625px;
}

ul, ol {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

.prin li a {
 background-color: darkred; color: white;
 
  text-decoration: none;
  display: block;
  padding: 20px 20px;
}
.prin li a:hover{
    background-color: red;
}
.prin li ul {
  display: none;
  position: absolute;
  min-width: 140px;
}

.prin li:hover > ul {
    display: block;
}

.prin li ul li {
    position: relative;
}
.prin li ul li ul {
    right: -140px;
    top: 0px;
}
